<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
  default-lazy-init="true">

    <import resource="classpath*:spring/mysql.xml"/>
    <import resource="classpath*:spring/redis.xml"/>

    <!--<bean id="keyProvider" class="com.tallate.sidp.keyprovider.DefaultKeyProvider"/>-->
    <bean id="keyProvider" class="com.tallate.test.keyprovider.SpanIdKeyProvider"/>

    <!--<bean id="keyStore" class="com.tallate.sidp.keystore.JdbcKeyStoree">
        <property name="dataSource" ref="idpDataSource"/>
    </bean>-->
    <bean id="keyStore" class="com.tallate.sidp.keystore.RedisKeyStore">
        <property name="redisClient" ref="redisClient"/>
    </bean>

    <bean id="redisClient" class="com.tallate.test.keystore.RedisClientImpl">
        <property name="jedisPool" ref="jedisPool"/>
    </bean>

    <bean id="idpChecker" class="com.tallate.sidp.idpchecker.blocking.DefaultIdpChecker">
        <property name="keyProvider" ref="keyProvider"/>
        <property name="keyStore" ref="keyStore"/>
    </bean>

    <bean id="idpInterceptor" class="com.tallate.sidp.spring.IdpInterceptor">
        <property name="idpChecker" ref="idpChecker"/>
    </bean>

    <bean id="idpAspect" class="com.tallate.sidp.spring.IdpAspect">
        <property name="idpInterceptor" ref="idpInterceptor"/>
    </bean>

    <aop:config>
        <aop:aspect id="idp" ref="idpAspect" order="2">
            <aop:pointcut id="addEnableIdp" expression="@annotation(com.tallate.sidp.EnableIdp)"/>
            <aop:around method="intercept" pointcut-ref="addEnableIdp"/>
        </aop:aspect>
    </aop:config>

    <!-- 这个Aspect获取Http请求信息，注意order值比上边那个小、优先执行 -->
    <bean id="httpAspect" class="com.tallate.test.http.HttpAspect"/>
    <aop:config>
        <aop:aspect id="http" ref="httpAspect" order="1">
            <aop:pointcut id="getSpanId" expression="@annotation(com.tallate.sidp.EnableIdp)"/>
            <aop:around method="intercept" pointcut-ref="getSpanId"/>
        </aop:aspect>
    </aop:config>

</beans>